@charset "UTF-8";


@media screen and (min-width:768px) and (max-width:992px) {
    
    section#login{
        width: 80vw;
    }

     img{
        float: left;
        width: 40%;
        height: 100vh;
    }

    div#formulario{
        float: right;
        width: 57%;
    }
}

@media screen and (min-width:992px) {
    
    section#login{
        width: 80vw;
    }
    
}