@charset "UTF-8";


@media screen and (min-width:768px) and (max-width:992px) {

    body{
        background-image: linear-gradient(to top , #49a09d ,purple );
    }
    
    section#login{
        width: 80vw;
    }

     img{
        float: left;
        width: 40%;
        height: 100vh;
    }

    div#formulario{
        float: right;
        width: 57%;
    }
    p{
        text-align: center ;
        font-size: 1.2em;
        
    }

}

@media screen and (min-width:992px) {
    
    body{
        background-image: linear-gradient(to top , #49a09d ,purple );
    }
    section#login{
        width: 80vw;
    }

    img{
        float: right;
        width: 49%;
        height: 100%;
    }

    div#fomulario{
        float: left;
        width: 51%;
        height: 100%;
    }

    p{
        text-align: center ;
        font-size: 1.5em;
        
    }

    
}